<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %></title>
    <%- include('./link.ejs')  %>
</head>
<% let gej = '' %>
<body>
    <%- include('./nav.ejs')  %>
    <div id="con">
        <div id="czarni">
            <h1>JEBAĆ <br> CZARNYCH</h1>
            <p style="margin-top: 30px;"><%= ips.slice(7) %></p>
        </div>

        <div>
            <h1 id="Ostatnie">Ostatnie</h1>
            <% result.forEach(i => {  %>
                <% if(i.gej == 1){gej = 'Pedał'}else{gej = 'Sigma'} %>
                

            <a style="text-decoration: none;" href="/dodaj/<%= i.id %>"><p><%= i.imie  %> <%= i.nazwisko %>,<br> <%= gej %> </p></a>
            <a class="delete" data-doc="<% i.id %>" href="/usun"><img src="trash.png" alt=""></a>

            <hr>
            <%})  %>
            
        </div>
    </div>


 
</body>
</html>